<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu" *ngIf="!selectedItem"></ion-icon>
    </button>
    <ion-title>Todo List</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="todo-list">
  <ion-list no-border>
    <ion-list-header>
      Urgent
    </ion-list-header>
    <ion-item-sliding #item *ngFor='let todo of ugtTodo'>
      <ion-item>
        <ion-toggle [(ngModel)]="todo.completed" (ionChange)="updateValue(todo)"></ion-toggle>
        <ion-label (click)="itemTapped(todo)" [ngClass]="{'stripe-label': todo.completed}">
          {{todo.header}}
        </ion-label>
        <ion-icon color="danger" name='brush' item-left (click)="itemTapped(todo)"></ion-icon>
      </ion-item>
      <ion-item-options side="right">
        <button color="danger" ion-button (click)="removeTodo(todo)">Remove</button>
      </ion-item-options>
    </ion-item-sliding>
    <ion-item [hidden]="(ugtTodo && ugtTodo.length > 0)">No Urgent items</ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      Important
    </ion-list-header>
    <ion-item-sliding *ngFor='let todo of imtTodo'>
      <ion-item>
        <ion-toggle [(ngModel)]="todo.completed" (ionChange)="updateValue(todo)"></ion-toggle>
        <ion-label (click)="itemTapped(todo)" [ngClass]="{'stripe-label': todo.completed}">
          {{todo.header}}
        </ion-label>
        <ion-icon color="primary" name='brush' item-left (click)="itemTapped(todo)"></ion-icon>
      </ion-item>
      <ion-item-options side="right">
        <button color="danger" ion-button (click)="removeTodo(todo)">Remove</button>
      </ion-item-options>
    </ion-item-sliding>
      <ion-item [hidden]="(imtTodo && imtTodo.length > 0)">No Important items</ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      Follow Up
    </ion-list-header>
    <ion-item-sliding *ngFor='let todo of fowTodo'>
      <ion-item>
        <ion-toggle [(ngModel)]="todo.completed" (ionChange)="updateValue(todo)"></ion-toggle>
        <ion-label (click)="itemTapped(todo)" [ngClass]="{'stripe-label': todo.completed}">
          {{todo.header}}
        </ion-label>
        <ion-icon color="dark" name='brush' item-left (click)="itemTapped(todo)"></ion-icon>
      </ion-item>
      <ion-item-options side="right">
        <button color="danger" ion-button (click)="removeTodo(todo)">Remove</button>
      </ion-item-options>
    </ion-item-sliding>
      <ion-item [hidden]="(fowTodo && fowTodo.length > 0)">No Follow Up items</ion-item>
  </ion-list>


</ion-content>
